<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Versant_Net" connectionString="Data Source=test.data.versantrn.org;Initial Catalog=CHLA;Persist Security Info=False;User ID=vpone;Password=MRHAdmin|;Connection Timeout=12800"/>
  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Versant_Net" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
  </system.web>
  
  <startup>  
    <supportedRuntime version="v2.0.50727"/>
  </startup>

</configuration>
